{% extends 'visit/baseelevator.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}


{% block content %}

<!-- Start your project here-->

<!--Main layout-->
<main class="mt-5 mb-4">


    <!-- Container for demo purpose -->
    <div class="container my-5 py-5 shadow-5">

        <!--Section: Design Block-->
        <section class="text-center">

            <h3 class="mb-5">Asosiy qiyinchiliklar</h3>

            <p class="mb-5 mx-lg-5">
                Xorijga sayohat qilmoqchi bo'lgan shaxslar, har doim ham jarayonni to'liq nazorat qilolmaydi, yoki
                rejalashtirishda qandaydir muammolar yuzaga keladi:
            </p>

            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="shadow-2 d-flex align-items-center justify-content-center rounded-circle mx-auto"
                         style="width: 100px; height: 100px;">
                        <i class="fas fa-exclamation-triangle fa-2x text-danger"></i>
                    </div>
                    <h5 class="my-4">Visa olish jarayonining murakkabligi va o‘ziga xosligi</h5>
                    <p class="mb-md-0">
                        Har bir mamlakat uchun turli xil visa talablari, turlicha hujjatlar va bir necha bosqichlar
                        tufayli sayohatchilar viza olish jarayonini qiyin deb hisoblashadi.
                    </p>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="shadow-2 d-flex align-items-center justify-content-center rounded-circle mx-auto"
                         style="width: 100px; height: 100px;">
                        <i class="fas fa-plane-slash fa-2x text-danger"></i>
                    </div>
                    <h5 class="my-4">Rejalashtirishning qiyinligi</h5>
                    <p class="mb-md-0">
                        Mehmonxonalar, samalyotlar buyurtmalari uchun afzal reja tuzish bu murakkab jarayon
                        hisoblanadi.
                        Ayniqsa bu biirinchi sayohat bo'lsa

                    </p>
                </div>

                <div class="col-md-6 mb-4 mb-md-0">
                    <div class="shadow-2 d-flex align-items-center justify-content-center rounded-circle mx-auto"
                         style="width: 100px; height: 100px;">
                        <i class="fas fa-language fa-2x text-danger"></i>
                    </div>
                    <h5 class="my-4">Xorijiy tillarni yaxshi bilmaslik</h5>
                    <p class="mb-0">
                        Odatda ochiq ma’lumotlarda visa olish masalalari bo’yicha xorijiy tillarda ma’lumotlar
                        keltiriladi.
                        Ko’p hollarda to’liq jarayon haqida informatsiya olib bo’lmaydi.

                    </p>
                </div>

                <div class="col-md-6 mb-4 mb-md-0">
                    <div class="shadow-2 d-flex align-items-center justify-content-center rounded-circle mx-auto"
                         style="width: 100px; height: 100px;">
                        <i class="fas fa-question-circle fa-2x text-danger"></i>
                    </div>
                    <h5 class="my-4">Boshqalar</h5>
                    <p class="mb-0">
                        Yuqori xizmat ko'rsatish narxlari, ma'lumotlarning yetishmasligi va boshqa davlatning
                        qonuniy talablarini o'rganib chiqish kabilar sayohat qiluvchilarga muammolar tug'diradi.
                    </p>
                </div>

            </div>

        </section>
        <!--Section: Design Block-->

    </div>
    <!-- Container for demo purpose -->


    <!-- Container for demo purpose -->
    <div class="container my-5 py-5 shadow-5">

        <!--Section: Design Block-->
        <section class="text-center">

            <h3 class="mb-5">Yechimlar</h3>

            <p class="mb-5 mx-auto w-responsive">
                Bizning platforma shaxslarning xorijga sayohatlari xususan visa olish jarayonlarini tartibga solishda
                ko'makchi vosita sifatida ishlab chiqilmoqda.
            </p>

            <div class="row">
                <div class="col-md-6 col-lg-3 mb-lg-0 mb-5">
                    <div
                            class="bg-primary d-flex align-items-center justify-content-center rounded-circle mx-auto"
                            style="width: 100px; height: 100px;">
                        <i class="fas fa-sitemap fa-2x text-white"></i>
                    </div>
                    <h5 class="my-4 pt-2">Markazlashgan boshqaruv</h5>
                    <p class="mb-0">
                        We simplify the visa application process by providing step-by-step guidance tailored to each
                        country’s requirements.
                    </p>
                </div>
                <div class="col-md-6 col-lg-3 mb-lg-0 mb-5">
                    <div
                            class="bg-primary d-flex align-items-center justify-content-center rounded-circle mx-auto"
                            style="width: 100px; height: 100px;">
                        <i class="fas fa-calendar-check fa-2x text-white"></i>
                    </div>
                    <h5 class="my-4 pt-2">Aniq qadamlar</h5>
                    <p class="mb-0">Tizim siz tanlagan mamlakat talablaridan kelib chiqib moslashtirilgan,
                        aniq, bosqichma-bosqich qadamlarni taqdim etish orqali jarayonni soddalashtiradi va
                        foydalanuvchilar
                        viza arizasining, hamda sayohatning har bir bosqichida nima qilish kerakligi bo ‘yicha aniq ko
                        ‘rsatlamar tizim orqali berib boriladi.
                        .</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-md-0 mb-5">
                    <div
                            class="bg-primary d-flex align-items-center justify-content-center rounded-circle mx-auto"
                            style="width: 100px; height: 100px;">
                        <i class="fas fa-globe fa-2x text-white"></i>
                    </div>
                    <h5 class="my-4 pt-2">Xarajatsiz band qilish</h5>
                    <p class="mb-0">Sayohatni rejalashtirish qadamlari orasida, muddatdan kelib chiqib tizim mehmonxona,
                        aviachipta va transport xizmatlari uchun eng yaxshi, hamda ishonchli tizimlarni taklif qiladi.
                        Ortiqcha xarajatsiz band qilish xizmatlaridan foydalanishingiz mumkin.</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-0">
                    <div
                            class="bg-primary d-flex align-items-center justify-content-center rounded-circle mx-auto"
                            style="width: 100px; height: 100px;">
                        <i class="fas fa-info-circle fa-2x text-white"></i>
                    </div>
                    <h5 class="my-4 pt-2">Foydali ma'lumot</h5>
                    <p class="mb-0">Tizim to‘liq o‘zbek tilida xorijiy konsulliklar talablaridan kelib chiiqb har bir
                        davlat
                        uchun alohida yondashuv bilan ishlab chiqilmoqda. Viloyatdagi foydalanuvchilar ham Toshkent
                        shahridagi visaga
                        ko’maklashuvchi tashkilotlarga tashrif buyurmasdan, 24/7 rejimda kerakli ma’lumotlarni olishlari
                        mumkin
                        .</p>
                </div>
            </div>

        </section>
        <!--Section: Design Block-->

    </div>
    <!-- Container for demo purpose -->


    <div class="container my-5 py-5">
        <section class="mb-10">
            <h5 class="mb-4">Raqamlar va prognozlar</h5>

            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <div class="p-3 badge-primary rounded-4">
                                        <i
                                                class="fas fa-hand-point-up fa-lg fa-fw"
                                        ></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-4">
                                    <p class="text-muted mb-1">Clicks</p>
                                    <h2 class="mb-0">
                                        71,897
                                        <span class="text-success" style="font-size: 0.875rem"
                                        ><i class="fas fa-arrow-up fa-sm"></i>
                    <span> 5.4%</span></span
                                        >
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <div class="p-3 badge-primary rounded-4">
                                        <i class="fas fa-eye fa-lg fa-fw"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-4">
                                    <p class="text-muted mb-1">Impressions</p>
                                    <h2 class="mb-0">
                                        146,926
                                        <span class="text-success" style="font-size: 0.875rem"
                                        ><i class="fas fa-arrow-up fa-sm"></i>
                    <span> 8.3%</span></span
                                        >
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <div class="p-3 badge-primary rounded-4">
                                        <i class="fas fa-chart-pie fa-lg fa-fw"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-4">
                                    <p class="text-muted mb-1">Average CTR</p>
                                    <h2 class="mb-0">
                                        24.57%
                                        <span class="text-danger" style="font-size: 0.875rem"
                                        ><i class="fas fa-arrow-down fa-sm"></i>
                    <span> 3.9%</span></span
                                        >
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Design Block -->
    </div>
</main>
<!--Main layout-->

{% endblock %}